@media print{
	.print-exclude{
		display:none;
	}

	.print-include{
		display:block;
	}
	
	a,a:visited{
		text-decoration:underline!important;
	}

	pre,blockquote{
		border:1px solid #999;page-break-inside:avoid;
	}

	thead{
		display:table-header-group;
	}

	img{
		max-width:100%!important;
	}

	p,h2,h3{
		orphans:3;widows:3;
	}
	
	@page{
		margin:1cm;
	}

	*{
		background:transparent!important;color:black!important;
		filter:none!important;-ms-filter:none!important;text-shadow:none;
	}
	
	img,table,ul,li,dl,dt,dd,tr,td{
		page-break-inside:avoid;
	}

	h1,h2,h3,h4,h5,h6{
		page-break-after:avoid;
	}
}