
.form{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;

	&-actions,
	&-item{
		padding: {
            left: $gutter;
            right: $gutter;
		};
		position: relative;
		
		&.w-full{
			width: 100%;
		}

		&.w-half{
			margin-bottom: $gutter;
			
			&:last-child{
				margin-bottom: 0;
			}
			width: 100%;

			@include tablet{
				margin-bottom: 0;
				width: 50%;
			}
		}
	}

	&-actions{
		input[type="submit"]{
			background-color: map-get($colors, _blue );
			color: map-get($colors, _white );
			cursor: pointer;
			border: none;
			padding: $gutter rem(10px);
			width: 100%;
		}
	}

	&-item{
		display: flex;
		flex-direction: column;

		label{
			color: map-get($colors, _blue);
			display: flex;
			align-items: center;
			padding: {
				left: $gutter;
				right: $gutter;
			};
			width: 100%;
			height: 100%;
			position: absolute;

			&.is-valid{
				opacity: 0;
			}
		}

		input{
			background-color: map-get($colors, _grey);
			color: map-get($colors, _blue);
			border: none;
			border-top: 5px solid map-get($colors, _blue);
			padding: $gutter;
			max-height: rem(50px);

			&:focus,
			&:valid{
				+label{
					opacity: 0;
				}
			}
		}

	}

	&-row{
		display: flex;
		flex-wrap: wrap;
		margin: {
			bottom: $gutter;
			left: -$gutter;
			right: -$gutter;
		};
		width: calc(100% + 2rem);

		@include tablet{
			flex-wrap: nowrap;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}