// switch styles
.switch{
    align-items: flex-end;
    display: flex;
    flex-direction: row;

    &__object{

        background: $dark;
        border-radius: 25px;
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 4px 10px 1px;

        &--no, &--yes{
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            height: 15px;
            width: 15px;
            transition: all .2s;
        }

        &--no{
              background: transparent;
              position: relative;
              z-index: 2;

            &.active{
              background: $lime ;
            }    
        }

        &--yes{
            background: $dark;

            &.active{
                background: $lime ;
                position: relative;

                &:after{
                    content:'';
                    height: 7px;
                    width: 12px;
                    border: {
                        bottom: 3px solid $lime;
                        left: 3px solid $lime; 
                    };               
                    right: 20px;
                    position: absolute;
                    top: 4px;
                    transform: rotate(315deg);
                }
            }    
        }

    }

    &__title{

        &.left{
            margin-right: 20px;
        }

        &.right{
            order: 2;
            margin-left: 20px;
        }
    }
}
