.hero{
    position: relative;
    width: 100%;

    &-background{
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100;
    }

    &-foreground{
        display: flex;
        align-items: center;
        min-height: 100vh;
        padding: rem(56px) 0;
        position: relative;
        z-index: 2;

        @include tablet{
            padding: rem(100px) 0;
        }

        h1{
            color: map-get($colors, _white);

            @include tablet{
                max-width: 50%;
            }
        }
    }

    &-media{
        position:relative;
		width: 100%;
		height: 100%;

        &__object{
            min-height:100%;
			max-height:100%;
			min-width:100%;
			max-width:100%;
			position:absolute;
			left:50%;
			top:50%;
			transform:translateX(-50%) translateY(-50%);
        }
    }

}