// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Vendors
@import "./node_modules/pickadate/lib/compressed/themes/default";
@import "./node_modules/pickadate/lib/compressed/themes/default.date";

// Import all needed help
// @import 'configuration/_functions/_contrast';
@import 'configuration/_functions/_rem';
@import 'configuration/_functions/_strip-units';

@import 'configuration/_mixins/_breakpoint';
@import 'configuration/_mixins/_layout';

@import 'configuration/_base';
@import 'configuration/_colors';
@import 'configuration/_em-base';
@import 'configuration/_fonts';
@import 'configuration/_variables';

@import 'configuration/_formatting/_elements';
@import 'configuration/_formatting/_images';
// @import 'configuration/_formatting/_table';

@import 'utilities/_grid';

@import 'forms/_form';

// Import Test style
@import 'application/header';
@import 'application/footer';
@import 'sections/hero';
@import 'sections/info';
@import 'sections/map';


// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
