// radiobutton styles
input[type="radio"]  {
	appearance: none;
	background: transparent;
	border-radius:50%;
	border: 1px solid map-get($colors, _black);
	box-sizing: content-box;
	cursor: pointer;
	margin: {
		right: 10px;
	};
	position: relative;
	transition: all .3s linear;
	width: 30px;
	height: 30px;

	+label{
		vertical-align:top;
	}

	&:checked {
	  	&:after{
			content:'';
			width: 16px;
			height: 16px;
			background: $lime;
			border-radius: 50%;
			position: absolute;
			top: 7px;
			left: 7px;
	  	}
	}
}


